  .outersearchpanel {
            margin-top: 70px;
            height: 500px;
            background-image: url(https://palacestation.sclv.com/~/media/Images/Page%20Background%20Images/Palace/Dining/PS_Dining_Main.jpg);
        }

        .searchpanel {
            /*margin-left:3%;*/
            margin-top: 170px;
            /*padding-top:100px;*/
            /*padding-left:0px;*/
            /*background-repeat:no-repeat;*/
            /*height:600px;*/
            /*width:100%;*/
            text-align: center;
        }

        .searchbar {
            /*margin-left:50px;*/
            /*height:150px;*/
            /*width:970px;*/
            width: 47%;
            background-color: #fff;
            color: #fff;
            background-image: url(http://www.ledr.com/colours/white.jpg);
        }





        .txtsearchkey, .location, .lbllocation, .txtbxlocation, .searchbutton {
            float: left;
        }

        #btnsearch {
            /*width:75px;
            margin-left:4px;
            margin-top:2px;*/
            background-color: #b61111;
            color: white;
            float: left;
        }

        body {
            background-color: #b61111;
        }

        .outermost {
            width: 100%;
        }

        .searchdescription {
            /*padding-top:100px;*/
            /*padding-left:150px;*/
            /*width:875px;*/
            /*margin-left:100px;*/
            margin-top: 70px;
            /*margin-right:100px;*/
        }

        .lbldescription {
            /*text-align:center;*/
            /*margin-left:-100px;*/
            /*margin-top:-50px;*/
            color: #b61111;
            font-family: 'Comic Sans MS';
            font-size: 30px;
            font-weight: bolder;
        }


        .locationdiv {
            float: left;
        }

        .btnSearchWrapper {
            float: left;
        }

        .txtsearchkey {
            float: left;
        }

        .txtsearch {
        height:auto;
        float:left;
        
        }

        .nearbylabel {
            float: left;
        }

        .lblNearBy {
            float:left;
            margin-top: 7%;
        }

        .toppadding {
            height: 70px;
        }

        .searchfields {
        }

        .connectwithus {
            background-color: #0c0b0b;
        }

        .bottomlogo {
            color: white;
        }

        .navbar .navbar-inverse .navbar-fixed-top {
        
        background-color: #272626; border-color: #428bca
        }

        .navbar-brand {

            color: white;
        }

        .givewhite{
        
        color:white;
        }

        .welcomestyle {
        
         font-weight: bold;
        }

#link {

color:#b61111;
}

        .txtlocation {
            height:auto;float:left;
        
        }

        .footerimage {
        margin-top:200px;color:black;
        
        }

        .navbar-inverse .navbar-nav > li > a {
color: white;
}