.maindiv {
    font-size : 20px;
    height : 500px;
}

@media (min-width: 0px) and (max-width: 500px) {
    .maindiv {
        background-color: blue;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    .maindiv {
        
        background-color: green;
    }
}

@media (min-width: 701px) {
    .maindiv {
        background-color: red;
    }
}