
        .horizontalpartition {
        
            margin-top:5%;
         }

        .logo {
        float:left;
            width:auto;
            margin-left:5%;
        }

       
        .btnLogin {
            width:inherit;
           
            margin-right:10px;
            height:auto;
            
            
        }
        #btnLogout {
        
            width:inherit;
        }

        input, button, select, textarea {
            font-family: inherit;
            width: 70%;
        }

        .btnSignUp {
            width:auto;
           margin-top:2px;

        }

        .loginbutton {
            
            
        }

        .signupbutton {
        
          margin-left:6%;
           
        }

        .newactive {
        
            background-color:#b61111;
        }
        .basicuserinfo {
        
            margin-top:70px;
        min-height:1000px;
        width:100%;
        }
        .searchpanel {
        
        /*margin-top:100px;*/
        margin-left:150px;
        padding-top:100px;
        /*padding-left:0px;*/
         background-image:url(https://palacestation.sclv.com/~/media/Images/Page%20Background%20Images/Palace/Dining/PS_Dining_Main.jpg);
        background-repeat:no-repeat;
        height:600px;
        width:100%;
        
        
        
        }

        .searchbar {
       margin-left:50px;
      height:70px;
      width:970px;
     
      
        }

        .topsearchpadding {
            padding-top:100px;
        
        }
        .bottomsearchpadding {
            padding-bottom:400px;
        
        }

        .leftpaddingsearchpanel {
           /*padding-left:500px;*/
           float:left;
           width:100px;
        }

        .txtsearchkey, .location, .lbllocation, .txtbxlocation, .searchbutton {
        
            float:left;
        }

        #btnsearch {
            width:75px;
            margin-left:4px;
            margin-top:2px;
             background-color:#b61111;
            color:white;
        }

        body {
        
        background-color:#b61111;
        }

        .outermost {
        
            width:100%;
        }
        .searchdescription {
        
            padding-top:100px;
            padding-left:150px;
            width:875px;
            margin-left:100px;
            margin-top:100px;
            margin-right:100px;
        }
        .lbldescription {
        
            text-align:center;
            margin-left:-100px;
            margin-top:-50px;
            color:#b61111; 
            font-family:'Comic Sans MS';
            font-size:30px;
            font-weight:bolder;
        }

        @media (min-width: 50px) and (max-width:600px) {
            .outermost {
            
                width:100%;
            }
        
        }

        .thingsliked {
        
            margin-top:150px;
            background-color:#fcfbfb;
            height:350px;
            margin-bottom:-20px;
        }

        .thingscommented {
        
            margin-top:5px;
             background-color:#808080;
            height:400px;
            margin-bottom:-20px;

        }

        .connectwithus {
        
           
            margin-top:5px; 
            background-color:black;
            height:350px;
            margin-bottom:-20px;
            color:white;

           }

        .bottomlogo {
           
        
        }

        .signuplink {
        
        
            
        }

        .likeone, .liketwo, .likethree, .likefour {
            float:left;
        }

        .restaurantaddress {
        
            
        }

        #bdetails:first-child {
        
            display:none;
        }
        #fbdetails:first-child {
        
            display:none;
        }


        #cdetails:first-child {
        
            display:none;
        }

         #fcdetails:first-child {
        
            display:none;
        }

        .likewrapper {
        
            margin-left:5%
        }

        .commentwrapper {
        
            margin-left:5%
        }

        .displaycomment {
        
            background-color:white;
        }

        #bdetails {
            height:300px;
        }

        #txtUserSearch {
        width:200px;
        float:left;
        }

        #btnSearchUser {
       
            width:100px;
            background-color:#b61111;
            color:white;
        }

        .btnSearchUserWrapper {
        
            float:left;
        }

        .userphoto {
        
            float:left;
        }

        .aboutme {
            float:left;
            margin-left:10%;
        }

        #txtAboutMe {
        
            width:120%;
            }

        #btnSave {
        margin-top:2%;
            width:100px;
             background-color:#b61111;
            color:white;
            
        }

        .userdetails {
        
           
        }

        .useractivities {
        
           
            width:100%;
            
            
        }

            

        .labelaboutme {
        
            
        }

        .mylinks {
        
            margin-left:5%;
            
            width:100%;
        }

        .linkresults {
            margin-top:10%;

        }

        .userpanel {
        background-color:white;
        min-height:1000px;
           
        }

        .txtWelcome {

            margin-top:10%;
        }

        .mylikes, .mycomments, .followlikes {

                width:20%;
                color:white;
                background-color:#b61111;
                float:left;
        }

        .followcomments {
             width:25%;
                color:white;
                background-color:#b61111;
                float:left;
        }


        .exploreusers {

           text-align:center;

        }

        .lblUserSearch {
            float:left;
        }


        hr {
        height:1px;
        background-color:black;
        }

        .exploretxtwrapper {
        
            float:left;
        }