 .navbar-inverse {
            background-color: black;
            height:auto;

        }

        .btnlogin {
           background-color: #e4e4e2;
           color: #4d4d49;
           text-shadow: none;
           font-weight:bolder;
            width:auto;
            float:right;
            height:auto;
            
            
            
        }


            .btnlogin:hover {
                background-color:white;
                color: #4d4d49;

            }

        .topbtnpadding {
        height:25px;
        }

        #slideshow {
            position:absolute;
            height:50%;
            width:95.5%;

        
        }

        .main-content {
            
           
        
        }

body {

background-color:black;
}
        .toppadding {
            padding-top: 100px;
        }
