<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Data Source=127.0.0.1;Initial Catalog=sahibj;User ID=sahibj;PWD=SZpLw5J;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="sahibjCS" connectionString="Data Source=127.0.0.1;Initial Catalog=sahibj;UID=sahibj;PWD=SZpLw5JT;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="pubsCS" connectionString="Data Source=127.0.0.1;Initial Catalog=pubs;UID=sahibj;PWD=SZpLw5JT;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="NorthwindCS" connectionString="Data Source=127.0.0.1;Initial Catalog=Northwind;UID=sahibj;PWD=SZpLw5JT;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS" connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorks;UID=sahibj;PWD=SZpLw5JT;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS" connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorksDW;UID=sahibj;PWD=SZpLw5JT;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="sahibjConnectionString1" connectionString="Data Source=127.0.0.1;Initial Catalog=sahibj;Persist Security Info=True;User ID=sahibj;Password=SZpLw5JT"
    providerName="System.Data.SqlClient" />
</connectionStrings>